## Task 1

In [1]:
a=[2,3,4,2,3,4,8,9,12,"apple",'Apple']

In [2]:
a

[2, 3, 4, 2, 3, 4, 8, 9, 12, 'apple', 'Apple']

In [5]:
x=a.copy()

In [6]:
x

[2, 3, 4, 2, 3, 4, 8, 9, 12, 'apple', 'Apple']

In [15]:
y=set(x)

In [16]:
y

{12, 2, 3, 4, 8, 9, 'Apple', 'apple'}

In [17]:
type(y)

set

In [18]:
x=list(y)

In [19]:
print(x)

[2, 3, 4, 8, 9, 12, 'Apple', 'apple']

## Task 2

In [45]:
B='i need an apple'

In [56]:
B[10:15]

'apple'

In [57]:
B=B[10:15]

In [63]:
B

'apple'

## Task 3

In [9]:
d=int(input("Enter a Number: "))
e=int(input("Enter a Number: "))
if (d%2) == (e%2) == 0:
    print("both number even")
    add=d+e
    print("addition ",add)
else:
    print("both number is not even")
    multiple=d*e
    print("Multiple",multiple)

Enter a Number: 2
Enter a Number: 6
both number even
addition  8

In [10]:
d=int(input("Enter a Number: "))
e=int(input("Enter a Number: "))
if (d%2) == (e%2) == 0:
    print("both number even")
    add=d+e
    print("addition ",add)
else:
    print("both number is not even")
    multiple=d*e
    print("Multiple",multiple)

Enter a Number: 3
Enter a Number: 6
both number is not even
Multiple 18

## Task 4

In [19]:
def calc(d,e):
    if (d%2) == (e%2) == 0:
        add=d+e
        return("both number is even ",add)
    else:
        multiple=d*e
        return("both number is not even ",multiple)

In [20]:
calc(2,3)

('both number is not even ', 6)

In [21]:
calc(2,8)

('both number is even ', 10)

##  Task 5

In [23]:
num = int(input(" display a multiplication table of? : "))
for i in range(1,21):
    print(i,'x',num,'=',i*num)

 display a multiplication table of? : 8
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
11 x 8 = 88
12 x 8 = 96
13 x 8 = 104
14 x 8 = 112
15 x 8 = 120
16 x 8 = 128
17 x 8 = 136
18 x 8 = 144
19 x 8 = 152
20 x 8 = 160